<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Asserted Chronotopes Set</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cadmus-asserted-chronotope-set
      [chronotopes]="chronotopes"
      [placeLookupConfig]="placeLookupConfig"
      (chronotopesChange)="onChronotopesChange($event!)"
    />
    @if (chronotopes) {
    <div>
      <code>
        <pre>{{ chronotopes | json }}</pre>
      </code>
    </div>
    <div>{{ chronotopes | assertedChronotopes }}</div>
    }
  </mat-card-content>
</mat-card>
