<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>MOL Lookup</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Note that
      <a href="https://manus.iccu.sbn.it" target="_blank" rel="noopener"
        >Manus Online</a
      >
      does not provide an API service, so you need a server to host your own.
      Currently, this page is used for <strong>local</strong> testing with a
      service running at <code>http://localhost:5230</code>. If this is running,
      you can inspect the endpoints at
      <a href="http://localhost:5230" rel="noopener" target="_blank"
        >http://localhost:5230/scalar/v1</a
      >.
    </p>
    <div class="form-row">
      <cadmus-refs-lookup
        [service]="service"
        [item]="item()"
        [required]="true"
        label="MOL"
        (itemChange)="onItemChange($event)"
      />
    </div>
    <!-- dump -->
    @if (item()) {
    <hr />
    <div>
      <pre>{{ item() | json }}</pre>
    </div>
    }
  </mat-card-content>
</mat-card>
