<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>MOL Lookup</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Note that
      <a href="https://manus.iccu.sbn.it" target="_blank" rel="noopener"
        >Manus Online</a
      >
      does not provide an API service, so you need a server to host your own
      using API and import tools I developed for this purpose.
      Currently, this page draws data from an API server filled with an early
      import of a MOL snapshot.
    </p>
    <div class="form-row">
      <cadmus-refs-lookup
        [service]="service"
        [item]="item()"
        [required]="true"
        label="MOL"
        (itemChange)="onItemChange($event)"
      />
    </div>
    <!-- dump -->
    @if (item()) {
    <hr />
    <div>
      <pre>{{ item() | json }}</pre>
    </div>
    }
  </mat-card-content>
</mat-card>
