<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Flags Set</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div>
        <mat-checkbox [formControl]="numbering">numbering</mat-checkbox>
        <mat-checkbox [formControl]="custom">custom flags</mat-checkbox>
        <mat-checkbox [formControl]="initials">initials in badge</mat-checkbox>
      </div>
      <hr />
      <fieldset>
        <legend>flags</legend>
        <cadmus-ui-flag-set
          [flags]="flags"
          [checkedIds]="checkedIds()"
          [allowCustom]="custom.value"
          [numbering]="numbering.value"
          (checkedIdsChange)="onCheckedIdsChange($event)"
        />
      </fieldset>
      <hr />
      <div class="form-row">
        <form [formGroup]="form" (submit)="setUserIds()">
          <mat-form-field>
            <input matInput placeholder="IDs" [formControl]="userIds" />
          </mat-form-field>
          <button mat-raised-button type="submit" class="mat-primary">
            set IDs
          </button>
        </form>
        <button
          mat-raised-button
          type="button"
          class="mat-warn"
          (click)="toggleFlags()"
        >
          change set
        </button>
      </div>
      <div>
        <code>
          <pre>{{ checkedIds | json }}</pre>
        </code>
      </div>
      <div>
        <cadmus-flag-set-badge
          [flags]="checkedFlags()"
          [noInitials]="!initials.value"
        />
      </div>
    </div>
  </mat-card-content>
</mat-card>
