<form [formGroup]="form" (submit)="save()">
  <p>Here are some options</p>
  <mat-form-field>
    <mat-select [formControl]="letter">
      <mat-option value="a">alpha</mat-option>
      <mat-option value="b">beta</mat-option>
      <mat-option value="g">gamma</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button type="button" mat-icon-button (click)="cancel()">
      <mat-icon class="mat-warn">cancel</mat-icon>
    </button>
    <button type="submit" mat-icon-button>
      <mat-icon class="mat-primary">check_circle</mat-icon>
    </button>
  </div>
</form>
