<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Physical Dimension</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-checkbox [formControl]="staticUnit">static unit</mat-checkbox>
    <hr />
    <cadmus-physical-dimension
      [dimension]="dimension"
      [unitEntries]="unitEntries"
      [staticUnit]="staticUnit.value"
      (dimensionChange)="onDimensionChange($event!)"
    />
    <hr />
    @if (dimension) {
    <div>
      <pre><code>{{ dimension | json }}</code></pre>
    </div>
    }
  </mat-card-content>
</mat-card>
