<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Asserted Chronotope</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cadmus-refs-asserted-chronotope
      [refTypeEntries]="refTypeEntries"
      [chronotope]="chronotope"
      (chronotopeChange)="onChronotopeChange($event!)"
    />
    @if (chronotope) {
    <hr />
    <div>
      <code>
        <pre>{{ chronotope | json }}</pre>
      </code>
    </div>
    <div>{{ chronotope | assertedChronotopes }}</div>
    }
  </mat-card-content>
  <mat-card-actions>
    <button type="button" mat-flat-button class="mat-warn" (click)="reset()">
      reset
    </button>
  </mat-card-actions>
</mat-card>
