<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Citation</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cadmus-refs-citation
      [citation]="citation"
      [allowFreeMode]="true"
      [allowPartial]="true"
      (citationChange)="onCitationChange($event)"
      (citationValidate)="onCitationValidate($event)"
    />
    @if (citation) {
    <div>
      <pre>{{ citation | json }}</pre>
    </div>
    } @if (error) {
    <div>
      <pre>{{ error | json }}</pre>
    </div>
    } @else {
      <span>(valid)</span>
    }
  </mat-card-content>
</mat-card>
