<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Citation</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-row">
      <mat-checkbox [formControl]="allowFreeMode">free mode</mat-checkbox>
      <mat-checkbox [formControl]="allowPartial">partial</mat-checkbox>
    </div>
    <hr />
    <cadmus-refs-citation
      [citation]="citation"
      [allowFreeMode]="allowFreeMode.value"
      [allowPartial]="allowPartial.value"
      (citationChange)="onCitationChange($event)"
      (citationValidate)="onCitationValidate($event)"
    />
    <hr />
    @if (citation) {
    <div class="text-cit">{{ citText }}</div>
    <div>
      <code>
        <pre>{{ citation | json }}</pre>
      </code>
    </div>
    <div>
      <cadmus-refs-citation-view [citation]="citation" defaultSchemeId="dc" />
    </div>
    }
    <hr />
    @if (error) {
    <div class="error">
      <code>
        <pre>{{ error | json }}</pre>
      </code>
    </div>
    } @else {
    <div class="valid">(valid)</div>
    <fieldset>
      <legend>list</legend>
      <div class="form-row">
        <button
          type="button"
          mat-flat-button
          (click)="resetCitation()"
          class="mat-warn"
          matTooltip="Reset citation"
        >
          reset
        </button>
        <button
          type="button"
          mat-flat-button
          (click)="addCitation()"
          class="mat-primary"
          matTooltip="Add citation to list"
        >
          add
        </button>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>citation</th>
            </tr>
          </thead>
          <tbody>
            @for (c of citations; track c) {
            <tr>
              <td class="fit-width">
                <button
                  type="button"
                  mat-icon-button
                  (click)="removeCitation(0)"
                  matTooltip="Remove citation from list"
                >
                  <mat-icon class="mat-warn">delete</mat-icon>
                </button>
              </td>
              <td>{{ c | citation }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </fieldset>
    }
  </mat-card-content>
</mat-card>
