<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Physical Measurements Set</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-checkbox [formControl]="distinct">distinct</mat-checkbox>
    </div>
    <hr />
    <div>
      <cadmus-physical-measurement-set
        [measurements]="measurements"
        [nameEntries]="nameEntries"
        [unitEntries]="unitEntries"
        [allowCustomName]="true"
        [distinct]="distinct.value"
        (measurementsChange)="onMeasurementsChange($event)"
      />
    </div>
    @if (measurements.length) {
    <hr />
    <div>
      <pre>{{ measurements | json }}</pre>
    </div>
    }
  </mat-card-content>
</mat-card>
