<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>ICONCLASS Reference Lookup</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cadmus-refs-lookup
      [service]="service"
      [item]="item"
      [required]="true"
      [hasMore]="true"
      linkTemplate="https://iconclass.org/{n}"
      label="ICONCLASS"
      (itemChange)="onItemChange($event)"
      (moreRequest)="onMoreRequest()"
    />
    @if (item) {
      <div>
        <pre>{{ item | json }}</pre>
      </div>
    }
    <hr />
    <h3>Direct ICONCLASS Access</h3>
    <p>
      This is the simplest ICONCLASS search query. Type something and press
      enter.
    </p>
    <form [formGroup]="form" (submit)="searchTerm()">
      <mat-form-field>
        <mat-label>term</mat-label>
        <input matInput [formControl]="term" />
      </mat-form-field>
    </form>
    @if (searching) {
      <div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    }
    @if (searchResult) {
      <div>
        <pre>{{ searchResult | json }}</pre>
      </div>
    }
  </mat-card-content>
</mat-card>
